{
	"env": {
		"browser": true,
		"jquery": true,
		"es6": true
	},
	"globals": {
		"wp": false,
		"jQuery": false,
		"angular": false,
		"Hametuha": true,
		"wpApiSettings": false,
		"ga": false,
		"Hashboard": true,
		"Vue": false
	},
	"extends": [
		"eslint:recommended"
	],
	"rules": {
		"no-alert": "off",
		"no-unused-vars": "warn",
		"no-console": "warn"
	}
}
