.tscf {

  &__group {
    padding: 1em 10px;
    box-sizing: border-box;
    border-top: 1px solid #ddd;
    &:first-child{
      border-top: none;
    }
    &:last-child {
      border-bottom: none;
    }
  }
  &__separator{
    padding: 10px 0;
    text-align: center;
    border-top: 3px double #ddd;
    font-weight: bold;
    color: #666;
  }
  &__col {
    &1 {
      clear: left;
    }
    &2 {
      float: left;
      width: 50%;
    }
    &3 {
      float: left;
      width: 33%;
    }
    &4{
      float: left;
      width: 25%;
    }
    &--clear {
      clear: left;
    }
  }

  &__label {
    font-weight: bold;
    margin-bottom: 0.25em;
    display: block;
    &--inline {
      display: inline-block;
      input {
        margin-right: 0.5em;
      }
    }
    &--multiple {
      margin-right: 2em;
    }
    &--boolean {
      font-weight: bold;
    }
  }

  &__required {
    margin-left: 0.5em;
    color: #ff686b;
  }

  &__unit{
    margin-left: 0.5em;
    color: #888;
  }

  &__fields {
    margin-bottom: 0.5em;
  }

  &__input {
    box-sizing: border-box;
    &--text,
    &--number,
    &--datetime,
    &--date,
    &--password,
    &--select,
    &--textarea {
      width: 100%;
    }
  }

}