.tscf {

  &__group {
    padding: 1em 10px;
    box-sizing: border-box;
    border-top: 1px solid #ddd;
    &:first-child {
      border-top: none;
      & + .tscf__col2{
        border-top: none;
      }
      & + .tscf__col3{
        border-top: none;
        & + .tscf__col3{
          border-top: none;
        }
      }

    }
    &:last-child {
      border-bottom: none;
    }
    .tscf__child &{
      border-top: none;
    }
  }
  &__separator{
    padding: 10px 0;
    text-align: center;
    border-top: 3px double #ddd;
    font-weight: bold;
    color: #666;
    clear: left;
  }
  &__col {
    &1 {
      clear: left;
    }
    &2 {
      float: left;
      width: 50%;
    }
    &3 {
      float: left;
      width: 33%;
    }
    &4{
      float: left;
      width: 25%;
    }
    &--clear {
      clear: left;
    }
  }

  &__label {
    font-weight: bold;
    margin-bottom: 0.25em;
    display: block;
    &--inline {
      display: inline-block;
      input {
        margin-right: 0.5em;
      }
    }
    &--multiple {
      margin-right: 2em;
    }
    &--boolean {
      font-weight: bold;
    }
    &--iterator {
      margin-bottom: 10px;
      position: relative;
    }
  }

  &__add{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%) !important;
  }

  &__required {
    margin-left: 0.5em;
    color: #ff686b;
  }

  &__unit{
    margin-left: 0.5em;
    color: #888;
  }

  &__fields {
    margin-bottom: 0.5em;
  }

  &__input {
    box-sizing: border-box;
    &--text,
    &--number,
    &--datetime,
    &--date,
    &--password,
    &--select,
    &--textarea {
      width: 100%;
    }
  }

  &__child{
    position: relative;
    border-top: 1px solid #ddd;
    padding-right: 20px;
    padding-left : 20px;
    &:last-child{
      border-bottom: 1px solid #ddd;
    }
    &:nth-child(even){
      background: #f9f9f9;
    }
    &--placeholder{
      height: 100px;
      border: 3px dashed #ddd;
      background: #faffd3;
    }
  }

  &__button{
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%) !important;
    -moz-transform: translate(0, -50%) !important;
    -ms-transform: translate(0, -50%) !important;
    -o-transform: translate(0, -50%) !important;
    transform: translate(0, -50%) !important;
    font-size: 20px;
    &:link, &:visited{
      text-decoration: none;
      color: #aaa;
    }
    &:hover, &:active{
      text-decoration: none;
      color: #559fdd;
      outline: none;
    }
    &:focus{
      outline: none;
    }
    &--move{
      cursor: move;
      left: 5px;
    }
    &--delete{
      right: 5px;
    }
  }

  &__placeholder{

    min-height: 80px;
    padding: 10px;
    &--limit{
      padding-top: 10px;
      clear: both;
      text-align: center;
      color: #aaa;
      font-weight: bold;
    }

  }

  &__image{
    position: relative;
    display: inline-block;

    &--object{
      float: left;
      margin: 0 10px 10px 0;
    }
    &--delete{
      position: absolute;
      opacity: 0;
      top: 50%;
      left: 50%;
      $centerize:translate(-50%, -50%) !important;
      -webkit-transform: $centerize;
      -moz-transform: $centerize;
      -ms-transform: $centerize;
      -o-transform: $centerize;
      transform: $centerize;
      .tscf__image:hover &{
        opacity: 1;
      }
    }
  }

  &__url{
    $pad: 180px;

    &--wrapper{
      position: relative;
    }
    &--inner{
      margin-right: $pad;
    }
    &--controller{
      position: absolute;
      right: 0;
      top: 0;
      width: $pad;
      text-align: right;
    }
  }

  textarea#excerpt{
    height: auto;
  }
}

#ui-datepicker-div{
  z-index: 10 !important;
}